.modalWrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15000;
  padding: 0 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.modalContentWrapper {
  max-width: 400px;
  width: 100%;
  padding: 45px;
  background: #fff;
}
@media (max-width: 576px) {
  .modalContentWrapper {
    padding: 45px 30px;
  }
}
@media (max-width: 350px) {
  .modalContentWrapper {
    padding: 45px 20px;
  }
}
